snippet -

	---
	${0}

snippet gaia
  ---
  theme: gaia
  ---
	${0}

snippet gc
  <!-- class: ${0} -->

snippet c
  <!-- _class: ${0} -->

snippet i
  <!-- _class: invert -->

snippet l
  <!-- _class: lead -->

snippet t
  <!-- _class: lead invert -->
