snippet java8 "export JAVA_HOME=`/usr/libexec/java_home -v 1.8`" b
export JAVA_HOME=\`/usr/libexec/java_home -v 1.8\`
endsnippet

snippet java15 "Description" b
export JAVA_HOME=\`/usr/libexec/java_home -v 15\`
endsnippet
