<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mah-lab.sudden-death</string>
	<key>connections</key>
	<dict>
		<key>D7CF5CE2-FB73-4522-AC26-A41F5EE810A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC091B79-CEE5-46FB-9884-96EE8F71E92A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8FC2BE93-801C-4A7C-953A-95D1BB054D0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EEC47C40-1C06-4128-837E-C9948D9894E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7CF5CE2-FB73-4522-AC26-A41F5EE810A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Masahiro Nishimi (@mah_lab)</string>
	<key>description</key>
	<string>突然の死</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SuddenDeath</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EC091B79-CEE5-46FB-9884-96EE8F71E92A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sd</string>
				<key>subtext</key>
				<string>突然の死があなたに襲いかかる</string>
				<key>text</key>
				<string>突然の死</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EEC47C40-1C06-4128-837E-C9948D9894E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./sudden_death.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7CF5CE2-FB73-4522-AC26-A41F5EE810A6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>It was hit by sudden death</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8FC2BE93-801C-4A7C-953A-95D1BB054D0D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>＿人人人人人人＿
＞　突然の死　＜
￣ＹＹＹＹＹＹ￣</string>
	<key>uidata</key>
	<dict>
		<key>8FC2BE93-801C-4A7C-953A-95D1BB054D0D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D7CF5CE2-FB73-4522-AC26-A41F5EE810A6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>EC091B79-CEE5-46FB-9884-96EE8F71E92A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EEC47C40-1C06-4128-837E-C9948D9894E4</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://blog.mah-lab.com/</string>
</dict>
</plist>
