# vim
vim/backup/
vim/plugged/
vim/swap/
vim/undo/
vim/autoload/plug.vim

# font
font/

# alfred
alfred/Alfred.alfredpreferences/workflows/
alfred/Alfred.alfredpreferences/preferences/local/

# tmuxinator
tmuxinator/
