<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.agrill.whois</string>
	<key>connections</key>
	<dict>
		<key>E665B45C-67E2-4153-8EAF-514BB5674799</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC1C3286-05E0-4565-9B1A-47DF91637D59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andreas Grill</string>
	<key>description</key>
	<string>Lookup domain with Domaintools</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Whois</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://whois.domaintools.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EC1C3286-05E0-4565-9B1A-47DF91637D59</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>whois</string>
				<key>subtext</key>
				<string>Lookup input domain</string>
				<key>text</key>
				<string>Whois domain lookup</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E665B45C-67E2-4153-8EAF-514BB5674799</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>E665B45C-67E2-4153-8EAF-514BB5674799</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EC1C3286-05E0-4565-9B1A-47DF91637D59</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
