<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>08301C5E-657B-4B3A-834E-D49719078A21</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wl</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>weblio</string>
			<key>url</key>
			<string>http://ejje.weblio.jp/content/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
