<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.DonaldBurr.youtube-dl</string>
	<key>connections</key>
	<dict>
		<key>4E27CAC0-BF4F-42C4-AE79-FD9D74376EF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D7783FE-7A70-4E60-BC86-6DA4710BE1F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7C321AC5-3A29-42BE-994A-F23820B0C82E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D7783FE-7A70-4E60-BC86-6DA4710BE1F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Donald Burr</string>
	<key>description</key>
	<string>Downloads the currently playing (in Safari) YouTube video.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Download YouTube Video</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ytdl</string>
				<key>subtext</key>
				<string>ytdl</string>
				<key>text</key>
				<string>Download YouTube Video</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7C321AC5-3A29-42BE-994A-F23820B0C82E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>WORKFLOWPATH="`pwd`"

osascript &lt;&lt; _EOF_
on FileExists(theFile) -- (String) as Boolean
	tell application "System Events"
		if exists file theFile then
			return true
		else
			return false
		end if
	end tell
end FileExists

if FileExists("$WORKFLOWPATH/youtube-dl")
	tell application "Safari"
		set theURL to URL of current tab of window 1
		set theTitle to name of front document
		set AppleScript's text item delimiters to " - YouTube"
		set theTitle2 to text item 1 of theTitle
		set theTitle3 to ((characters 2 thru end of theTitle2) as string)
	end tell

	if theURL contains "youtube.com"
		display notification "Download started: '" &amp; theTitle2 &amp; "'"
		do shell script "afplay \"/System/Library/Sounds/Hero.aiff\""
		set results to do shell script "cd $HOME/Movies &amp;&amp; \"$WORKFLOWPATH/youtube-dl\" --no-progress " &amp; theURL
		display notification "Download complete: '" &amp; theTitle2 &amp; "'"

		do shell script "afplay \"/System/Library/Sounds/Hero.aiff\""
		display dialog "Downloaded video '" &amp; theTitle2 &amp; "' to the Movies folder.  Results:" &amp; return &amp; return &amp; results buttons {"OK"} default button 1 with title "Success" with icon note giving up after 5
	else
		display notification "Error: not a video: '" &amp; theTitle2 &amp; "'"
		do shell script "afplay \"/System/Library/Sounds/Basso.aiff\""
		display dialog "This does not appear to be a YouTube video." buttons {"OK"} default button 1 with title "Error" with icon stop giving up after 5
	end if
else
	display notification "Error: youtube-dl not installed."

	do shell script "afplay \"/System/Library/Sounds/Basso.aiff\""
	display dialog "You do not have youtube-dl installed.  Install Homebrew (http://brew.sh) then at a Terminal prompt type 'brew install youtube-dl'." buttons {"OK"} default button 1 with title "Error" with icon stop
end if

tell application "Safari"
	activate
end tell
_EOF_
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D7783FE-7A70-4E60-BC86-6DA4710BE1F1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4E27CAC0-BF4F-42C4-AE79-FD9D74376EF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>I've put together a simple workflow to download YouTube videos.  This only works for Safari so far (if you can add additional browser support, I would appreciate a patch.)  Simply browse to a video in Safari, and either activate Alfred and enter "ytdl", or use the hotkey Cmd+Option+Ctrl+Y.  The video will be saved in your Movies folder.

Comments, criticisms, bug reports, thanks &amp; praise, etc. to me at donburr [at] gmail [dot] com.</string>
	<key>uidata</key>
	<dict>
		<key>2D7783FE-7A70-4E60-BC86-6DA4710BE1F1</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>4E27CAC0-BF4F-42C4-AE79-FD9D74376EF2</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>7C321AC5-3A29-42BE-994A-F23820B0C82E</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://DonaldBurr.com/</string>
</dict>
</plist>
